@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
/* navn */
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Lobster&display=swap');
/* head */
body {
  margin: 0;
  padding:0;
}
.navb{
  font-family: "Damion", cursive;
  font-weight: 400;
  font-style: normal;
}

.hero_head{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
